<div class="bg-[#222] absolute w-screen h-screen flex-col">
    <div class="w-full h-full flex items-center flex-col justify-around">
        <img src="https://github.com/cristianWilliam/Spotify-Angular/blob/master/src/assets/images/spotify-logo-inicio.png?raw=true"
            alt="logo" class="w-[40%]" />
        <button 
            (click)="login()"
            class="text-2xl min-w-[200px] p-[20px] rounded-[500px] bg-[#37AB00] text-white border-0 cursor-pointer hover:opacity-70"
        >Open my Spotify</button>
    </div>
</div>